{% extends 'base.html' %} {% load static %} {% block title %}Home - GalleryHub
{% endblock %} {% block content %}


<div class="home">
  
  <div class="welcome ">
    {% if messages %}
    <div class="messages mb-3 text-center">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <h1>Welcome to the GalleryHub, {{ user.username }}!</h1>
    {% else %}
    <h1>Welcome to the GalleryHub</h1>
    {% endif %}
    <form class="searchForm" action="/search" method="get">
      <input
        type="text"
        name="query"
        placeholder="Search artwork or artist"
        required
      />
      <button type="submit">Search</button>
    </form>
  </div>

  <section class="artworks-section py-5">
    <div class="container">
      <h2 class="text-center mb-5">Recommended Artworks</h2>
      <div class="row g-4">
        {% for artwork in recommended_artworks %}
        <div class="col-md-6 col-lg-3">
          <div class="card h-100" style="height: 450px !important;">
            {% if artwork.image %}
            <img 
              src="{{ artwork.image.url }}"
              alt="{{ artwork.title }}"
              class="card-img-top"
              style="height: 250px; object-fit: cover;"
            >
            {% endif %}
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h5 class="card-title" style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">{{ artwork.title }}</h5>
                <p class="card-text text-muted" style="font-size: 0.9rem;">
                  <a href="{% url 'author' artwork.author %}" class="artist-link">{{ artwork.author }}</a>
               </p>
                {% if artwork.description %}
                <p class="card-text" style="
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  font-size: 0.9rem;
                  height: 4.2em;
                ">{{ artwork.description }}</p>
                {% endif %}
              </div>
              <div class="view-more-btn-container" style="margin-bottom: 0.3rem;">
                <a href="{% url 'artwork' artwork_title=artwork.title %}" class="btn btn-sm bg-purple text-white view-more-btn">
                  View More
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

</div>

{% endblock %}
