body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.left-header {
    padding-left: 20px;
    font-weight: bold;
}


.right-header {
    padding-right: 20px;
}

.right-header a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.right-header a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    main {
        padding: 10px;
    }
}
